{% extends 'base.html' %}

{% block content %}
<div class="clearfix">
	<a class="btn btn-info left" href="{'% url 'calendar' %'} {{ prev_month }}"> Previous Month </a>
	<a class="btn btn-info right" href="{'% url 'calendar' %'}{{ next_month }}"> Next Month </a>
</div>
{{ calendar }}
{% endblock %}