
{% extends 'base.html' %}

{% block content %}
<body>
    <main>
        <aside><a href="{% url "create_payment" %}">Create payment</a></aside>
        <div>
            <h2>My Payments</h2>
            <table class='table_list'>
                <thead>
                    <tr>
                        <th>Payment</th>
                        <th>Category</th>
                        <th>Amount</th>
                        <th>Date Due</th>
                        <th>Recurring</th>
                        </tr>
                </thead>
                <tbody>
                    {% for payment in payment_list %}
                    <tr>
                        <td>{{ payment.name }}</td>
                        <td>{{ payemnt.category }}</td>
                        <td>{{ payment.amount }} </td>
                        <td>{{ payment.date_due }} </td>
                        <td>{{ payment.recurring }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% comment %} <ul>
            {% for payment in payment_list %}
            <li>{{ payment.name}} </li>
            </ul>
            {% endfor %} {% endcomment %}
        </div>
    </main>
</body>
</html>

{% endblock %} 