{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"> 
         
        <title>Tracker</title>
        
    </head>

    <body>
        <header>
            <h1>get organised!</h1>
            <nav>
                <ul>
                    {% comment %} {% if user.is_authenticated %} {% endcomment %}
                        <li>
                            <a href="{% url 'calendar' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'payments_list' %}">Payments</a>
                            {% comment %} <a href="{% url 'logout' %}">Logout</a> {% endcomment %}
                        </li>
                    {% comment %} {% else %}
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %} {% endcomment %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>

</html>

